.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: auto;
    width: auto;
  }

  
  .gridItem {
    /* -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    border-radius: 5%; */
    margin: 1.3rem;
}

@media (max-width: 600px) {
  .container {
      grid-template-columns: 1fr
  }
}

img {
    height: 100%;
    width: 100%;
    align-self: center;
}

h4 {
  justify-content: center;
  font-size: 2em;
  text-align: center;
  margin: .3em;
}

.AboutP {
    color: black;
    font-size: 100%;
    font-family: Roboto;
    text-align: center;
    padding: 0 1em 3em 1em;
} 
