
.container {
    max-width: 1335px;
    margin: 0 auto;
    padding: 5rem;
  }
  .gridRow {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .gridItem {
    height: 30%;
    /* flex-basis: 20%; */
    -ms-flex: auto;
    width: 30%;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid gray;
    -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    border-radius: 5%;
  }

img {
    height: 100%;
    width: 100%;
    align-self: center;
    
}

.AboutP {
    color: black;
    font-size: 100%;
    text-align: center;
} 
