/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif; */
.Resume {
  height: 100%;
  width: 100%;
  margin: auto;
}

  .Hero {
   
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 100%;
  

    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../components/landingPage/styles/assets/heroImage2.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
  }

  @media (min-width: 768px) {
    .Hero{
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 1fr 2fr;
    }
  }
