/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif; */

  main {
    width: 95%;
    height: auto;
    justify-content: center;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 2%;
    font-family: 'Montserrat', sans-serif;
  
  

  }
  .ProfileImg {
    height: 150px;
    width: auto;
    display: flex;
    align-items: center;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 100%;
  }

  p {
    padding: 5px;
    text-align: center;
   
  }

  @media (min-width: 600px) {
    main {
        width: 70%;
        padding-left: 5%;
    }
    .ProfileImg {
      height: 250px;
    }
}
