/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif; */
.Wrapper{
    margin: 0 auto;
    height: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 35% 35% 30%;
  }
  
  
.columnOne{
  border: 5px solid rgb(212, 127, 17);
  padding: 15px;
}

.headerSection{
  border: 5px solid rgb(17, 150, 212);
  padding: 15px;
}
.profileSection{
  border: 5px solid rgb(17, 212, 43);
  padding: 15px;
}
.contactsSection{
  border: 5px solid rgb(192, 212, 17);
  padding: 15px;
}
.techSection{
  border: 5px solid rgb(166, 17, 212);
  padding: 15px;
}

.columnTwo{
  border: 5px solid rgb(36, 17, 212);
}

.rowOne{
  border: 5px solid rgb(212, 17, 179);
}

.rowTwo{
  border: 5px solid rgb(17, 212, 82);
}