.ProjectItemMainSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 700px) {
    .ProjectItemMainSection{
        grid-template-columns: 1fr
    }
  }

.Project {
    justify-content: center;
    -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    border-radius: 5%;
    margin: 1rem;
}

figcaption {
    padding: .5em 1.5em;
    font-family: Roboto;
}

h4 {
    color: #C55337;
    text-align: left;
    font-size: 2.5em;
}


img {
    margin-top: .5em;
    border-radius: 5%;


} 
/* h4 {
 }

a {
    color: #3976B5; 

}

a:hover {
    text-decoration: underline;
    
}

a:focus{
    text-decoration: underline;
}

a:active {
    border: 1px solid  #406E8E;
}

a:visited {
    color: #44355B;
} */
