.ProjectItem {
    justify-content: center;
    
}

.Card{
    margin: 1rem 2rem;
     border: 1px solid gray;
    -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}

.ProjectImage{
    border: 1px solid #424846;
  
    padding-top: 56.25%;

}
h3 {
    color: #DE6D43;
 }

a {
    color: #3976B5; 
}
