.Header{
    margin: 0 auto;
    width: 55vw;
    height: 15vh;
    padding: 20px 20px 20px 0px;
    font-family: 'Montserrat Bold', sans-serif;
    font-size: 52px;
    color: #DE6D43;

    h1{
        padding-left: 20px;
    }

    
}