.Header{
    margin: 0 auto;
    width: 55vw;
    height: 15vh;
    padding: 20px 20px 20px 0px;
    font-family: 'Montserrat Bold', sans-serif;
    font-size: 20px;
    color: #819975;
        
    h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        color: #424846;
    }
}