
.Profile{
      
      font-size: 16px;
      line-height: 20px;
      font-weight: heavy;
      font-family: 'Montserrat', sans-serif;
      color: #F8F2D2;
      height: 20vh;
      width: 40vw;
      grid-area: leftBottom; 
      
}

