
.Profile{
      
      font-size: 18px;
      line-height: 22px;
      font-weight: heavy;
      padding: 2%;
      font-family: 'Montserrat', sans-serif;
      color: #F8F2D2;
      /* height: 20vh;
      width: 40vw; */
      justify-content: center;
      text-align: center;

      
}

