
.nestedWrapper{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
}

h5{
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 10px;
}

p{
  font-family: 'Montserrat Light', sans-serif;
  list-style: none;
  font-size: 14px;
  margin-left: 40px;
  margin-top: 2px;
  margin-bottom: 2px;
}
