.NavBar{
    background-color: #708238;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.InternalLinks {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    text-decoration: none;
    
    .icon {
    
        cursor: pointer;
    
        padding-top: 20%;
        
        :visited { 
            color: #573E53;
        }
    }
    

}