.NavBar{
    background-color: #708238;
    width: 100%;
    height: 100%;
    opacity: 0.8;


    header {
        display: flex;
        flex: row;
        flex-flow: flex-direction;
        justify-content: space-evenly;
    
    }
    
    a {
        
        list-style: none;
        text-decoration: none;
        cursor: pointer;
        color: white;
        
        a:visited { 
            color: #573E53;
        }
    }
    
    
}
