
.Profile{
      
      font-size: 1.5rem;
      
      line-height: 2rem;
      padding: 2%;
      font-family: 'Montserrat', sans-serif;
      color: #F8F2D2;
      justify-content: center;
      text-align: center;
      vertical-align: bottom;

      background-color: rgba(0, 0, 0, 0.4);

}